<!DOCTYPE html>

{% extends 'layout.html' %}
{% block body_content %}
<h1>Amend database Page</h1>
<h2>Want to add a genre?</h2>
<div class = "form">
    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.genre_name.label }}
        {% if form.genre_name.errors %}
        {{ form.genre_name }}
        <div class="error">
            {% for error in form.genre_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.genre_name }}
        {% endif %}
    </div>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.folder_path.label }}
            {% if form.folder_path.errors %}
            {{ form.folder_path }}
            <div class="error">
                {% for error in form.folder_path.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.folder_path }}
            {% endif %}
        </div>


    <div class= "form-group">
        {{ form.submit }}
    </div>
</form>
</div>
{% endblock body_content %}